#chat-input {
	display: flex;
	flex-direction: column;
	padding: 15px;
	background-color: var(--card-background);

	.send-btn {
		.send-icon {
			color: var(--pin);
		}

		&:hover {
			background-color: var(--pin-shadow);
		}
	}
}
