#chat-display {
	max-height: calc(100vh - 320.8px);
	position: relative;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	flex: 1;
	padding: 15px;
	background-color: var(--card-background);
	overflow-y: auto;

	.typing-badge {
		position: absolute;
		bottom: 2.5px;
	}
}

@media only screen and (min-width: 896px) {
	#chat-display {
		max-height: calc(100vh - 229.2px);
	}
}
