.profile-data {
	form {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: start;

		section {
			min-height: 80vh;
			height: fit-content;
			display: flex;
			flex-direction: column;
			flex: 1;
			padding: 20px;
			gap: 45px;
			// text-align: start;

			.profile-row {
				width: 100%;
				display: flex;
				justify-content: space-between;
				gap: 5px;

				&.alt {
					justify-content: center;
				}
			}

			.image-preview-container {
				width: 100%;
				// max-width: 480px;
				height: 75vh;
				// display: block;
				border: 2px solid purple;
			}
		}
	}
}
