.login-btn {
	color: #fe3072 !important;
	background: #ffff !important;
	font-weight: bold !important;
	padding-right: 20px !important;
	padding-left: 20px !important;
	border-radius: 10px !important;
	margin: 10px !important;
}

.primary-btn {
	font-weight: bold !important;
	background: linear-gradient(45deg, #fe3072, #ff5940);
	border-radius: 30px !important;

	&:hover {
		background: linear-gradient(260deg, #fe3072, #ff5940);
	}
}

.secondary-btn {
	color: #797777 !important;
	font-weight: bold !important;
	border-radius: 30px !important;
	border: 2px solid #797777 !important;
	margin-top: 10px !important;

	&:hover {
		color: #303030 !important;
		border: 2px solid #303030 !important;
	}
}
