#match-display {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding: 0 5px;
	justify-content: center;
	// border: 2px solid orange;

	.match-card {
		width: fit-content;
		display: flex;
		flex-direction: column;
		align-items: center;

		.img-container {
			width: 150px;
			height: 150px;
			border-radius: 15px;
			overflow: hidden;
			margin: 10px;

			img {
				width: 100%;
			}
		}
	}
}

@media only screen and (min-width: 896px) {
	#match-display {
		justify-content: initial;

		.match-card {
			.img-container {
				width: 30px;
				height: 30px;
				border-radius: 100%;
			}
		}
	}
}
