#btm-nav {
	width: 100%;
	height: 44px;
	background-color: var(--background);
	display: flex;
	justify-content: space-around;
	align-items: center;
	// position: absolute;
	// bottom: 0;

	.nav-btn {
		.noto-color-emoji-regular {
			font-family: 'Noto Color Emoji', sans-serif;
			font-weight: 400;
			font-style: normal;
		}

		&.active {
			color: gold;
		}
	}
}

@media only screen and (min-width: 896px) {
	#btm-nav {
		display: none;
	}
}
