#new-message {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: auto;

	.chat-title-bar {
		width: 100%;
		border-bottom: 1px ridge black;
		display: flex;
		align-items: center;
		min-height: 60px;
		padding: 10px;

		label {
			margin-right: 10px;
		}

		#selected-users {
			.selected {
				font-size: 12px;
				background-color: var(--selected-shadow);
				color: var(--selected);
				padding: 5px;
				border-radius: 3px;
				margin: 5px 5px 0 0;
				display: inline-block;
			}

			#user-search {
				border: none;
				flex: 1;
				font-size: 0.8rem;
				font-weight: 200;
				min-width: 350px;
				padding: 4.25px 7px;
				background-color: var(--secondary);
				color: var(--heading);
			}
		}
	}

	.create-chat {
		background-color: var(--brand);
		margin: 10px auto;
		border-radius: 40px;

		&:disabled {
			color: darkgrey;
			background-color: grey;
		}
	}
}
