.overlay {
	width: 100vw;
	height: 100vh;
	position: fixed;
	background: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.65) 0%,
			rgba(0, 0, 0, 0) 100%
		),
		url('../../assets/home-background.webp');
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;

	.home {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.primary-title {
			font-size: 90px;
			color: #fff;
			margin-bottom: 30px;
		}
	}
}
