input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.auth-input,
.message-input {
	border-radius: 40px;

	.MuiInputBase-root {
		border-radius: 40px;
	}

	&.dark {
		background-color: var(--background);

		.MuiInputBase-root {
			color: var(--txt-primary) !important;
		}
	}
}

.profile-input {
	.MuiInputBase-root {
		border-radius: 10px !important;

		input:hover {
			border-radius: 10px !important;
			// border: 3px solid black;
		}
	}
}
