#top-bar {
	width: 100%;
	height: 55px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 15px;

	.logo-container {
		width: 170px;
		margin: 15px;

		.logo {
			width: 100%;
		}
	}

	.log-out {
		color: var(--error);
	}
}

@media only screen and (min-width: 896px) {
	#top-bar {
		display: none;
	}
}
