#top-bar {
	width: 100%;
	display: flex;
	justify-content: space-between;

	.logo-container {
		width: 170px;
		margin: 15px;
		margin-left: 10px;

		.logo {
			width: 100%;
		}
	}

	&.layout-nav {
		height: 55px;
		align-items: center;

		.log-out {
			color: var(--error);
		}
	}
}

@media only screen and (min-width: 896px) {
	#top-bar {
		&.layout-nav {
			display: none;
		}
	}
}
