#profile {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	padding: 0;
	padding-top: 51px;
	align-items: center;

	.content-container {
		width: 99%;
		display: flex;
		flex: 1;
		// border: 3px solid dodgerblue;
	}
}

@media only screen and (min-width: 896px) {
	#profile {
		flex-direction: row;
		justify-content: space-between;
		position: 0 24px;

		.content-container {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			// flex: 1;
			// border: 1px solid red;
		}
	}
}
