#selected-profile {
	height: 100%;
	width: 100%;
	flex-direction: column;
	display: flex;
	// border: 3px solid dodgerblue;

	.header-container {
		.cover-photo-section {
			height: 180px;
			display: flex;
			justify-content: center;
			background-color: orange;
			position: relative;

			.cover-photo-container {
				width: 100%;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
			}
		}
	}

	#profile-content {
		padding: 0 24px;
		position: relative;
		border: 1px solid transparent;

		.user-container {
			position: absolute;
			top: -66px;

			.profile-photo-container {
				width: 132px;
				height: 132px;
				display: flex;
				justify-content: center;
				align-items: center;

				img {
					width: 100%;
					height: 100%;
					border-radius: 50%;
					border: 4px solid var(--background);
					background-color: darkgrey;
					object-fit: cover;
					object-position: center;
				}
			}
		}

		.profile-paper {
			display: flex;
			flex-direction: column;
			margin-top: 136px;
			padding: 16px;
			overflow-y: auto;

			.greeting-container {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				padding: 10px;
				margin-bottom: 10px;
			}
		}
	}
}

@media only screen and (min-width: 896px) {
}
