ul {
	padding: 0 !important;
}

.side-bar-notify {
	color: whitesmoke !important;
}

.top-bar-notify {
	color: var(--highlight) !important;

	&:hover {
		background-color: var(--highlight-shadow) !important;
	}
}
