#profile-container {
	display: none;
}

@media only screen and (min-width: 896px) {
	#profile-container {
		width: 30%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		background-color: var(--card-background);
		box-shadow: rgba($color: #000000, $alpha: 0.05) 0px 6px 24px 0px,
			rgba($color: #000000, $alpha: 0.08) 0px 0px 0px 1px;
		text-align: left;
		z-index: 1;
		// border: 2px solid dodgerblue;

		.option {
			background-color: whitesmoke;
			border: none;
			border-bottom: 4px solid rgb(243, 33, 33);
			font-size: 20px;
			margin: 2px;
			padding: 10px;

			&:disabled {
				border-bottom: 4px solid rgb(187, 187, 187);
			}

			&.mockDisabled {
				color: rgb(187, 187, 187);
				border-bottom: 4px solid rgb(187, 187, 187);

				&:hover {
					color: initial;
					border-bottom: 4px solid rgb(243, 33, 33);
				}
			}
		}

		.profile-btn {
			display: flex;
			flex-direction: column;
			align-items: center;
			border-radius: 10px;

			.img-container {
				width: 30px;
				height: 30px;
				border-radius: 15px;
				overflow: hidden;

				img {
					width: 100%;
				}
			}

			h6 {
				font-size: small;
				color: var(--txt-primary);
			}
		}

		.display-container {
			flex: 1;
			// border: 2px solid orangered;
		}
	}
}
